/*媒体查询*/
@media (max-width: 980px) {
	body{
		width: 1210px;
	}
}
@media (min-width: 1079px) and (max-width: 1081px) {
	body{
		width: 111%;
	}
}
/*头部*/
.puer_header{ width: 100%; height: 129px; background: url(../images/index_head_bg.jpg) no-repeat scroll left top;-webkit-background-size: cover;background-size: cover;position: fixed;z-index: 999;}
.head_wrap{width: 1200px;margin: 0 auto;}
.head_wrap a.logo{ margin-top: 39px;}
.head_wrap a.logo img{ display: block; width: 178px; height: 66px; }
.head_wrap ul .enter_enversion{ display: block; margin:10px 0; text-align:right; color: #7a7673;}
.head_wrap ul li{ color: #debb7f; padding:9px 19px; border:1px solid #debb7f; float: left;}
.head_wrap ul li.login_register{ margin-left: 21px;}
.head_wrap ul li.godown_app{ margin-left: 21px;}
.head_wrap ul li.sales_margin{ margin-left: 21px;}
.head_wrap a{color: #debb7f} 
.head_wrap .red_ball{ position: absolute; width: 34px; height: 80px;left: 50%;margin-left: -17px;}
/*视频*/
.poster-container{
    width: 100%;
    position: relative;
    top: 129px;
}
.poster-container video{
    /*修复尺寸*/
    width: 100%;
    height: auto;
    max-height: 100%;
    /*修复白边*/
    display: block;
    font-size:0;
}
.mask-desc{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.mask-desc1{
	font-size: 28px;
	color: #e5c282;
}
.mask-desc2{
	font-size: 16px;
	color: #d1d1d1;
}
/*注册有奖*/
.fix-bonus-wrap{
	position: relative;
	width: 100%;
	padding-top: 29px;
}


.fix-bonus-block{
	width: 1200px;
	box-sizing: border-box;
	margin: 0 auto;
}
.fix-bonus-reg{
	width: 600px;
	float: left;
	text-align: center;
}
.fix-bonus-group{
	width: 600px;
	float: right;
	text-align: center;
}


.branch-title{
	font-size: 18px;
	color: #333333;
}
.branch-txt{font-size: 10px;color: #999999;}
.branch-desc{
	width: 322px;
	margin: 0 auto;
	color: #333333;
	margin-top: 15px;
	font-size: 14px;
}
/*浮窗*/
.floats,.poster-container .swiper-container{width: 825px;height: 431px;position: absolute;top: 50%;left: 50%;z-index: 99;margin-top: -215.5px;margin-left: -412.5px;}
/*浮窗关闭按钮*/
.float_close{font-size: 30px;color: #818181;position: absolute;right: 15px;top: 9px;cursor: pointer;z-index: 99;}
/*banner-金榜题名*/
.float_rank{width: 825px;height: 431px;background: url(../images/golden_rank.jpg);position: absolute;}
.float_rank .move_btn{position: absolute;bottom: 42px;left: 50%;margin-left: -77.5px;}
/*banner-百团大战*/
.float_deal{width: 825px;height: 431px;background: url(../images/baituan_fight.jpg);position: absolute;}
.float_deal .move_btn{position: absolute;bottom: 32px;left: 50%;margin-left: -77.5px;}
.deal_code{width: 130px;height: 130px;position: absolute;left: 50%;top: 20px;margin-left: -65px;}
#deal_qrcode img{width: 130px;height: 130px;border: 5px solid white;}
/*banner-百团大战直播浮窗*/
.float_live{width: 825px;height: 431px;background: url(../images/baituan_live.jpg);position: absolute;}
.live_btn{position: absolute;top: 290px;left: 424px;}
/*banner-财商学院*/
.float_finance{width: 825px;height: 431px;background: url(../images/finance_plat.jpg);position: absolute;}
.banner_android{position: absolute;bottom: 80px;right: 30px;}
.banner_ios{position: absolute;bottom: 30px;right: 30px;}
.finance_code{position: absolute;width: 130px;height: 130px;left: 365px;bottom: 29px;}
#finance_qrcode img{width: 125px;height: 125px;border: 5px solid #FFFFFF;}
/*banner-雪山古树*/
.float_snow{width: 825px;height: 431px;background: url(../images/float_snow.jpg);position: absolute;}
.float_snow .move_btn{position: absolute;bottom: 80px;left: 50%;margin-left: -68px;}
/*banner圆点*/
.poster-container .swiper-pagination-bullet { display: inline-block; width: 15px; height: 15px;} 
.poster-container .swiper-pagination-bullet { width: 13px; height: 13px; opacity: 0.5;  background: #ffffff; }
.poster-container .swiper-pagination-bullet.swiper-pagination-bullet-active{ opacity: 0.8; background: #ffffff;}
/*关于普洱币*/
.about-peb{position: relative;top: 129px;}
.section-title{text-align: center;width: 652px;height: 40px;line-height: 40px;margin: 0 auto;}
.section-text{font-size: 30px;margin: 0 16px;color: #31302f;}
.section-line-left{width: 250px;height: 1px;background-color: #b5b5b5;margin-top: 19.5px;}
.section-line-right{width: 250px;height: 1px;background-color: #b5b5b5;margin-top: 19.5px;}
.search_name{font-size: 14px;color: #31302f;}
.section-desc-tit{margin: 75px 0 30px 0;font-size: 20px;color: #333333;font-weight: 600;}
.section-desc-cont{width: 920px;margin: 0 auto;line-height: 30px;font-size: 18px;color: #666666;}
.about-top{text-align: center;padding-top: 95px;height: 415px;background-color: #FFFFFF;}
.about-bottom{height: 729px;padding-top: 75px;background: url(../images/about_bg.jpg);-webkit-background-size: cover;background-size: cover;}
.peb-advantage{width: 1200px;margin: 0 auto;}
.advan-item{float: left;width: 400px;}
.advan-desc{width: 280px;margin-left: 20px;float: left;}
.advan-desc-tit{font-size: 16px;color: #FFFFFF;}
.advan-desc-cont{font-size: 12px;color: #7a7673;line-height: 24px;margin-top: 10px;}
.white_book{width: 1200px;margin: 0 auto;margin-top: 90px;}
.white_book li{width: 600px;float: left;}
.white_book_left{float: right;margin-right: 150px;text-align: center;}
.white_book_right{float: left;margin-left: 150px;text-align: center;}
.white_book_desc{display:block;margin-top: 30px;color: #FFFFFF;}
.white_book_desc:hover{color: #FFFFFF;}
/*藏茶指数*/
.tea-index{position: relative;top: 129px;background-color: #FFFFFF;padding-bottom: 70px;}
.tea-top{text-align: center;padding-top: 95px;}
.diagram-style{width: 1200px;height: 430px;margin: 0 auto; margin-top: 50px;}
/*市场详情*/
.market{position: relative;top: 129px;background: url(../images/market_bg.jpg) no-repeat scroll left top;-webkit-background-size: cover;background-size: cover;padding-bottom: 70px;}
.market-top{text-align: center;padding-top: 60px;width: 1200px;margin: 0 auto;}
.market-top .section-text{color: #FFFFFF;}
.market-top .section-name{color: #666666;}
.market-top .section-desc-tit{color: #FFFFFF;margin: 55px 0 30px 0;}
.korea-flag{position: absolute;top: 195px;left: 0;}
.flags{position: absolute;right: 0;top: 350px;}
.flags img{margin: 0 7px;}
.market .diagram-style{margin-top: 160px;}
.market .section-desc-cont{color: #FFFFFF;}
/*新闻中心*/
.news{position: relative;top: 129px;padding: 0 0 100px 0;background-color: #FFFFFF;}
.news-top{text-align: center;padding-top: 75px;}
.news-bottom{width: 1200px;margin: 50px auto 0;}
.news-list{float: left;width: 770px;padding-left: 10px;}
.news-left{border-bottom: 1px dashed #b5b5b5;padding-bottom: 28px;margin-bottom: 20px;}
.news-left-txts{float: left;width: 520px;}
.news-pic{float: right;}
.news-left-title{font-size: 24px;color: #333333;line-height: 32px;font-weight: 600;}
.news-left-title:hover{color: #333333;}
.recent-news{margin-left: 20px;}
.news-left-time{margin: 15px 0;font-size: 14px;color: #999999;}
.news-left-cont{font-size: 14px;line-height: 28px;color: #333333;}
.news-more{float: right;width: 390px; }
.news-more-head{border-left: 7px solid #f7d38b;height: 16px;line-height: 16px;font-size: 14px;color: #333333;text-indent: 10px;font-weight: 600;margin-bottom: 30px;}
.news-more li{margin-bottom: 20px;}
.bold_dot{font-weight: 700;margin-right: 5px;}
.news-more-title{font-size: 16px;color: #333333;display: inline-block;width: 390px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.news-more-title:hover{color: #333333;}
.news-more-time{font-size: 14px;color: #999999;margin-top: 10px;}
.for-more{font-size: 12px;color: #251a08;display: inline-block;width: 72px;height: 26px;line-height: 26px;text-align: center;background-color: #e5c282;margin-left: 280px;}
.for-more:hover{color: #251a08;}
/*服务中心*/
.service{position: relative;top: 129px;padding: 0 0 100px 0;background: url(../images/service_cent_bg.jpg) no-repeat scroll top left;-webkit-background-size: cover;background-size: cover;}
.service-top{text-align: center;padding-top: 75px;}
.service-top .section-text{color: #FFFFFF;}
.service-top .section-name{color: #666666;}
.service-bottom{width: 1200px;margin: 100px auto;}
.company-wrap{width: 720px;height: 600px;background: url(../images/company_bg.png) no-repeat scroll center center;float: left;position: relative;}
.company-wrap a{position: absolute;}
.posi-fenghui{top: 16px;left: 343px;}
.posi-puermall{top: 80px;right: 91px;}
.posi-quqian{top: 329px;right: 40px;}
.posi-puerbank{bottom: 14px;right: 263px;}
.posi-pingshan{bottom: -24px;left: 183px;}
.posi-guiyang{left: 32px;top: 320px;}
.posi-banquan{left: 25px;top: 127px;}
.frequent-questions{font-size: 14px;width: 375px;float: right;}
.fq-title{color: #f7d38b;}
.fq-section{margin-top: 20px;color: #FFFFFF;}
.fq-section a{font-size: 14px;color: #FFFFFF;}
.fq-desc{line-height: 22px;color: #b2b2b2;margin-top: 10px;}
.contacts{margin-top: 30px;}
.hot-line{font-size: 30px;color: #FFFFFF;margin-top: 5px;}
.service-time{color: #b2b2b2;margin-bottom: 20px;}
.platform-codes img{border: 5px solid #ffffff;width: 120px;height: 120px;display: inline-block;margin-bottom: 10px;}
.wechat-code{float: left;text-align: center;font-size: 12px;color: #FFFFFF;}
.weibo-code{float: left;text-align: center;font-size: 12px;color: #FFFFFF;margin-left: 20px;}
/*底部*/
.foot-wrap{background-color: #232425;height: 110px;position: relative;top: 129px;}
.foot-center{width: 600px;margin: 0 auto;}
.foot-wrap ul{ margin-left:15px;}
.foot-wrap{font-size: 12px;color: #5a5858;}
.foot-wrap ul,.foot-wrap img{ margin-top: 33px;}
.foot-wrap a{ color: #5a5858; display: inline-block; height:14px; line-height:14px;padding-left:6px; padding-right:5px;border-left:1px solid #5a5858;}
.foot-wrap a:first-child{ border:0}
.foot-wrap ul li:first-child{ margin-left:-1px; margin-bottom: 4px;}

/*直播页面*/
.live-wrap{background: url(../images/live_bg.jpg) no-repeat scroll center center;padding:390px 0 260px 0;-webkit-background-size: cover;background-size: cover;}
.live-content{width: 950px;margin: 0 auto;}
.live-title{height: 64px;font-size: 20px;color: #FFFFFF;line-height: 64px;border-radius: 5px;background-color: rgba(0,0,0,0.4);text-indent: 60px;}
.live-link{border-radius: 5px;background-color: rgba(0,0,0,0.4);height: 540px;padding: 25px 15px;margin-top: 20px;}
.live-words-title{color: #FFFFFF;font-size: 24px;margin: 40px 0 20px 0;}
.live-words-cont{color: #FFFFFF;font-size: 16px;line-height: 30px;}
.live-detail{border:5px solid #3cabbf;padding: 25px 0 60px 25px;color: #FFFFFF;font-size: 16px;margin-top: 70px;}
.live-detail-title{font-size: 24px;margin-bottom: 24px;}
.live-time{float: left;}
.live-progress{float: left;margin-left: 150px;}
.live-progress-cont{border-left: 9px solid #06fbfd;height: 18px;margin-top: 20px;text-indent: 9px;line-height: 18px;}
/*财商学院下载页面*/
.finance-download-bg{width: 100%;}
.android-download-posi{position: absolute;top: 990px;left: 180px;}
.ios-download-posi{position: absolute;top: 990px;right: 180px;}
/*白皮书图片替换*/
.white_book img{width: 176px;}
