html, body, div,iframe, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
@font-face {
  font-family: youyuan;
  src: url(../font/youyuan.ttf);
}
html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
body { -webkit-touch-callout: none; font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a { color: #777777; text-decoration: none; cursor: pointer; }
a:hover,.iconfont hover { color: #c81428;}
li { list-style-type: none;}
em, i { font-style: normal; }
input{ vertical-align:middle;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0;}
input::-webkit-search-cancel-button{ display: none;}
input,textarea{ box-shadow: none !important; }
input[type=file]{ cursor: pointer;}
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
img,button{ border:0; outline: 0;}
header,section,footer{  display: block; }
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
.clearfix { zoom: 1; }
.clear { clear: both; height: 0; overflow: hidden; display: block; visibility: hidden; }
.fl { float: left; }
.fr{ float: right; }
.relative{ position: relative;}
.full{ width: 100%;}
.margin{ width: 1202px; margin:0 auto;}
.main_blue{ color: #0a7de9;}
.forum_blue{ color: #0795d4;}
.light_blue{color:#0d97d5;}
.bg_blue{ background-color: #0a7de9;}
.bg-gray1{ background-color: #f4f4f4;}
.bg-gray2{ background-color: #e5e5e5;}
.bg-white{ background-color: #fff;}
.color-white { color: #ffffff;}
.color-red { color: #fd1e1e;}
.fontbold { font-weight: bold;}
.bgf5{ background: #f5f6f7;}
.font-size16{font-size: 16px;}
/*字体库start*/
@font-face {
  font-family: 'iconfont';
  src: url('../fonts/font_c47iss4f4ols1yvi.eot'); 
  src: url('../fonts/font_c47iss4f4ols1yvi.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/font_c47iss4f4ols1yvi.woff') format('woff'),
  url('../fonts/font_c47iss4f4ols1yvi.ttf') format('truetype'),
  url('../fonts/font_c47iss4f4ols1yvi.svg#iconfont') format('svg'); 
}
.iconfont{
	font-family:"iconfont";
	font-style:normal; 
	background-image: none; 
	/*display: inline-block;*/ 
	font-size: 1em; 
	font-style: normal !important; 
	font-weight: normal !important; 
	height: 1em;
	overflow: visible; 
	width: 1em;
}
.iconfontx{
	font-size: 14px;
	font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/*字体库end*/
/*placeholder默认字体为微软雅黑*/
::-webkit-input-placeholder{font-family:"微软雅黑"; color: #d5e2ec;}
:-moz-placeholder{font-family:"微软雅黑"; color: #d5e2ec;}
::-moz-placeholder{font-family:"微软雅黑"; color: #d5e2ec;}
:-ms-input-placeholder{font-family:"微软雅黑"; color: #d5e2ec;}
/*个人中心-公用左侧菜单栏*/
.title_link{height: 52px;line-height: 52px;color: #666;font-size: 14px;}
.verMenu_lev2{width: 234px;border: 1px solid #d5e2ec;margin-bottom:52px;height: 680px;border-right:none ;} 
.verMenu_lev2 a li{font-size: 18px;color: #666666;height: 68px;line-height: 68px;text-align: center;position: relative;}
.verMenu_lev2 a li:after{content: "";width: 0;height: 0;border-top: 9px solid transparent;border-right: 10px solid white;border-bottom: 9px solid transparent;position: absolute;top: 24px;right: 0px;}
.verMenu_lev2 a li.active{background:#0795d4;color: white;}
.verMenu_lev2 a li.active:after{right: -1px;}
/*分页*/
.order_pages{width: 100%;color: #777777;margin: 28px 0 70px 0; height: 36px;line-height: 36px; overflow: hidden; position: relative;text-align: center;}
.tcdPageCode a{display: inline-block;color: black;display: inline-block;height: 32px; line-height: 32px;	padding: 0 12px;border: 1px solid #ddd;	margin: 0 2px;border-radius: 4px;vertical-align: middle;}
.tcdPageCode a:hover{text-decoration: none;border: 1px solid #0795d4;color:#0795d4;}
.tcdPageCode span.current{display: inline-block;height: 32px;line-height: 32px;padding: 0 12px;margin: 0 2px;color: white;background-color: #0795d4;border: 1px solid #0795d4;border-radius: 4px;vertical-align: middle;}
.tcdPageCode span.disabled{display: inline-block;height:32px;line-height: 32px;padding: 0 12px;margin: 0 2px;color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;}
/*弹框*/
.mask,.common_mask,.dialog_init_mask{ background-color: rgba(0,0,0,0.3); width: 100%; height: 100%; position: fixed; z-index: 36; top: 0;}
.dialog_init_mask{ z-index: 38;}
.dialog{width: 656px; height: 330px; position: fixed; margin: auto; left: 0; right: 0; top: 0; bottom: 0; background: #ffffff; color: #999999; z-index: 37; border-radius: 5px;}
.tip_dialog{ position: fixed;top: 50%;left: 50%;padding:10px 20px;text-align: center;height: auto;z-index: 2000;
-webkit-transform: translateX(-50%) translateY(-50%);-moz-transform: translateX(-50%) translateY(-50%);-ms-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%); color: #ffffff; background: rgba(0,0,0,0.4); border-radius: 3px;}
.dialog p.text{ width: 387px; font-size: 18px; line-height: 35px; color: #919ab0; margin:0 auto; padding: 66px 0 75px 0;}
.dialog p.text em{ color: #0d97d5;}
.dialog .btn{ display: block; font-size: 18px; color: #ffffff; width: 169px; height: 50px; line-height: 50px; text-align: center; background: #0d97d5; margin:0 auto;}
.dialog h5.dialog_tit img{ float: right; margin: 20px 26px 0 0;}
.close_icon:hover,.btn:hover{ cursor: pointer;}
.common_alert_title{height: 32px;font-size: 14px;background-color: #ffffff;text-indent: 7px;line-height: 32px;}
.common_alert_close_icon,.close_icon{float: right;margin-right: 20px;cursor: pointer;font-size: 24px; color: #c7c7c7;}
.common_alert_confirm{width: 80px;height: 25.6px;background: #0d97d5;color: #ffffff;font-size: 12px;line-height: 26px;text-align: center;border-radius: 2px;cursor: pointer;margin: 0 auto;}
/*通用提示弹框*/
.dialog_init{ z-index: 999;}
.dialog_init p,.time_tip_dialog dd,.dialog_init1 p{width: 100%;text-align: center;}
.dialog_init p,.dialog_init1 p{ margin-top: 24px; color: #818591;font-size: 16px;}
.time_tip_dialog dl dd{ font-size: 20px; color: #5e6371;}
.time_tip_dialog dl dd:first-child{ margin:60px 0 36px;}
/*头部*/
header.header{background: white;border-bottom: 1px solid #d8e4ed;z-index: 35; position: static;}
header.header .fr a{color: #333333;}
header.header .fr a.active,header.header .fr a:hover{color: #0795d4;}
header.header.newsheader{border-bottom:none;}
.header_margin{margin: 0 auto;width: 1200px;}
.logo img{ display: inline-block; width: 159px; height: 49px;}
/*媒体查询*/
@media (min-width: 980px) and (max-width: 1200px) {
	html{
		width: 118%;
	}
	div.header_margin{margin: 0 0;}
}
@media (max-width: 980px) {
	html{
		width: 123%;
	}
}
/*侧边条*/
.sidebar .iconfont{ color: white; font-family:"iconfont" !important; font-size:24px; font-style:normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale;}
.sidebar{ position: fixed; right: 20px; bottom: 200px; width: 50px;z-index: 10000;}
.sidebar a{ text-decoration: none; color: white;}
.icon_item{ text-align: center; cursor: pointer;width: 52px;height: 52px;border-radius: 4px;margin-bottom:4px ;background: rgba(64,152,243,.4);padding-top: 14px;}
.icon_item.f_control,.icon_item.twitter_control{padding-top: 12px;}
.icon_item:hover{background: rgba(64,152,243,.9);}
.icon_txt{ padding: 2px; color: white;}
.icon_txt a{ font-size: 12px;}
.phone_show{ display: none; position: absolute; top: 5px; right: 64px; padding: 5px 0; font-size: 12px; background-color: rgba(64,152,243,.9); text-align: center; color: white; width: 148px;}
.qq_show{ display: none; position: absolute; top: 64px; right: 64px; padding: 5px 0; font-size: 12px; background-color: rgba(64,152,243,.9); text-align: center; color: white; width: 148px;}
.qq_group_show{ display: none;line-height: 24px;position: absolute; top: 2px; right: 64px; padding: 5px 0; font-size: 12px; background-color: rgba(64,152,243,.9); text-align: center; color: white; width: 148px;border-radius: 4px;}
.phone_triangle,.qq_triangle,.qq_group_triangle{ position: absolute; display: inline-block; border-color: transparent transparent transparent rgba(64,152,243,.9); border-style: dashed dashed dashed solid; border-width: 8px 0 8px 10px; width: 0px; height: 0px; right: -10px; top: 12px;}
.wechat_show{ display: none; line-height: 16px;position: absolute; top: 58px; right: 64px; padding: 10px 0; font-size: 12px; background-color: rgba(64,152,243,.9); text-align: center; color: white; width: 148px;border-radius: 4px;}
.wechat_triangle{ position: absolute; display: inline-block; border-color: transparent transparent transparent rgba(64,152,243,.9); border-style: dashed dashed dashed solid; border-width: 8px 0 8px 10px; width: 0px; height: 0px; right: -10px; top: 12px;}
.weibo_show{ display: none; line-height: 16px;position: absolute; top: 112px; right: 64px; padding: 10px 0; font-size: 12px; background-color: rgba(64,152,243,.9); text-align: center; color: white; width: 148px;border-radius: 4px;}
.weibo_triangle{ position: absolute; display: inline-block; border-color: transparent transparent transparent rgba(64,152,243,.9); border-style: dashed dashed dashed solid;border-width: 8px 0 8px 10px; width: 0px; height: 0px; right: -10px; top: 12px;}
.APP_show{ display: none; line-height: 16px;position: absolute; top: 168px; right: 64px; padding: 10px 0; font-size: 12px; background-color: rgba(64,152,243,.9); text-align: center; color: white; width: 148px;border-radius: 4px;}
.APP_triangle{ position: absolute; display: inline-block; border-color: transparent transparent transparent rgba(64,152,243,.9); border-style: dashed dashed dashed solid;border-width: 8px 0 8px 10px; width: 0px; height: 0px; right: -10px; top: 12px;}
.show_txt{ margin-top: 5px;}
.back_to_top{ height: 38px;padding-top: 10px;}
.back_to_top .iconfont,.back_to_top .icon_txt{ color: #ffffff;}
.qq_control .iconfont{ font-size: 20px;}
.qq_group_control .iconfont{ font-size: 26px;}
.back_to_top .iconfont{ display: inline-block; font-size: 21px; height: 16px; line-height: 16px;}
.back_to_top .icon_txt{ margin-top: -4px;}
.wechat_show img.qrcode_wechat,.weibo_show img.down_code,.APP_show img{width: 128px;}
.icon_item .qq_num{font-size: 14px;}
.icon_item.weibo_control{padding-top: 12px;}