header{ height:72px;background: rgba(26,26,26,0); position: absolute; top: 0; left: 0; right:0; z-index: 35;}
header .logo{ margin: 14px 0 9px;}
header .fr a{ display: inline-block; height:32px; line-height: 80px; text-align: center; font-size: 16px; color: #fff; margin-right: 40px;}
header .fr a:last-child{ margin-right: 0;}
header .fr a.index_page{ margin-right: 55px;}
/*header .fr a.market_page{ margin-right: 55px;}
header .fr a.ico_public{ margin-right: 56px;}
header .fr a.asset_link{ margin-right: 60px;}
header .fr a.block_datas{ margin-right: 53px;}
header .fr a.go_forum{ margin-right: 53px;}
header .fr a.news{ margin-right: 67px;}
header .fr a.about{ margin-right: 62px;}*/
/*header .fr a.mine{ margin-right: 86px;}*/
header .fr a.active{color: #0795d4;}
.language_box{ display: inline-block; width: 50px; position: relative;}
.language_text,.language_gather li{ width: 50px;}
.language_gather li{ height: 28px;}
.language_text{ height: 28px;}
.language_text img,.language_option img{ display: block; width: 30px; height: 24px; border-radius: 2px; margin: 5px 0 0 5px;}
.language_gather{ width: 50px; height: 63px; border-top:0; margin-top: -2px;}			
.down_icon{ border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 8px solid rgb(201,201,201); width: 0px; height: 0px; cursor: pointer; position: absolute; top:15px; right: 0px; }
.language_text:hover,.language_option img:hover{ cursor: pointer;}
.language_choose{ position: absolute; right: 0; top: 23px;}
header .menu{ font-size: 0; position: relative;}
header .fr.color-black{ background: #ffffff;}
header .fr.color-black a{ color: #333333;}
.menu a:hover,header .fr.color-black a:hover,header .fr.color-black a.active{ color: #0795d4;}
footer{ height: 92px; line-height: 92px; background: #070911;}
footer div.margin p{ width: 560px; margin: 0 auto; text-align: center;}
footer div.margin p,footer div.margin p a{ color: #9198a0;}
footer div.margin p img{ margin:27px 15px 0 0;}
section.section1{ display: table;
    height: 100vh;
    padding-bottom: 0;
    padding-top: 0;
    table-layout: fixed;
    width: 100%; background: url(../images/section1_bg.jpg);}
section.section1 dl{ color: #fff; margin-top: 30vh;text-align: center;}
section.section1 dl .font54{ font-size: 51px; font-weight: 700;}
section.section1 dl .font48{ font-size: 48px; font-weight: 700;margin-top: 82px;}
section.section1 dl ul{ margin: 52px 0 73px 0;padding-left: 30px;}
section.section1 dl ul li{ display: inline-block; padding: 0 35px; position:relative;font-size: 16px;}
section.section1 dl ul li:after{content: '';position: absolute;background: url(../images/s_line.png) no-repeat;height: 22px;width: 2px;right: 0;}
section.section1 dl ul li:last-child:after{background: none;}
section.section1 dl ul li:first-child{ padding-left: 0;}
section.section1 dl ul li:last-child{ border-right:0;}
section.section1 dl dd.color_btn{ width: 214px; height: 58px; text-align: center; line-height: 58px; font-size: 19px; border: 2px solid;font-weight: 700;cursor: pointer;
    background: -webkit-linear-gradient(right,#986ace,#986ace 35%,#23b6fe 65%,#1cb8fe); 
    background: -moz-linear-gradient(right,#986ace,#986ace 35%,#23b6fe 65%,#1cb8fe); 
    background: -o-linear-gradient(right,#986ace,#986ace 35%,#23b6fe 65%,#1cb8fe); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-image: -webkit-linear-gradient(90deg, #986ace, #1cb8fe) 20 stretch;
    border-image: -moz-linear-gradient(90deg, #1cb8fe, #986ace) 20 stretch;
    border-image: linear-gradient(90deg, #1cb8fe, #986ace) 20 stretch;}
.banner,section.section1,.login_page{ background-size: cover; background-repeat: no-repeat; background-position: center center;}
.swiper-slide{ text-align: center; color: #fff;}
.swiper-slide a{ display: block; width: 100%; height: 100%;}
.swiper-slide li img{ display: block; margin: 0 auto;}
.swiper-slide li img.puer_icon{ margin-top: 5px; width: 20px; height: 45px;} 
.swiper-slide.banner2 ul li:nth-child(1){ font-weight:bolder; font-size: 58px; height: 60px; line-height:60px;}
.banner3 ul li:nth-child(1),.banner4 ul li:nth-child(1){ font-weight:normal;}
.swiper-slide .btns{ width: 250px; margin: 0 auto; font-size: 0; text-align: center;}
.swiper-slide .btns a{ font-size: 18px; color: #fff;}
.go_inform{ text-align: center; margin-top: 30px;}
.go_inform a{ color:#0795d4;font-size: 18px;}
.swiper-slide .go_retIco{ display: inline-block; margin: 75px auto 0; font-size: 18px; background: rgba(255,255,255,.1); width: 200px; height: 55px; text-align: center; line-height: 55px; border: 1px solid #f5f5f5; border-radius: 35px;} 
.banner1 a span,.AssetsLink_tit .go_publicLink{ color: #ffffff; width: 245px;}
.banner1 .margin{ position: relative;}
.banner1 div.see_liveshow{ position: absolute; bottom: -16px; right: 3px;} 
.banner1 div.see_liveshow div.pandanTv{ margin-left: 35px;}
.banner1 a span{ margin-top: 125px;}
.banner1 .see_liveshow{ width: 296px; height: 154px; text-align: center; color: #ffffff;} 
.banner1 .see_liveshow h3{ margin-bottom: 10px;}
.banner1 .see_liveshow img{ display: block; width: 130px; height: 130px; margin-bottom: 5px;}
.banner1 li:nth-child(3){ color: #b6b5ba; font-size: 36px;}
.section1 .go_retIco{
transition:width 1s;
-moz-transition:width 1s; 
-webkit-transition:width 1s;
-o-transition:width 1s; 
}
.section1 .go_retIco:hover{ width: 250px;}
.count_day{ font-size: 48px; color: #0795d4;}
.section2{ padding: 112px 0 0px 0; color: #fff; background: url(../images/section2_bg.jpg) no-repeat;background-size: cover; background-repeat: no-repeat; background-position: center center;}
.section2 p{ width: 1200px; height: 280px; padding: 42px 178px 0 70px; background: url(../images/kuang.png) no-repeat;line-height:48px;font-size: 17px;background-size: 1200px 280px;}
.section2 a img{ display: block;position: absolute; right: 0; top: 0;right: 6px; top: -35px; width: 140px;}
.section2 dl{ float: left;  text-align: center;margin-right: 80px;}
.section2 dl:nth-child(1){ width: 166px; }
.section2 dl:nth-child(2){ width: 168px; }
.section2 dl:nth-child(3){ width: 201px;}
.section2 dl:nth-child(4){ width: 155px; }
.section2 dl:nth-child(5){ width: 192px;margin-right: 0px;}
.section2 .dl_part{ margin-top: 99px;}
.section2 dt{ font-size: 16px; margin: 20px 0;}
.section2 dd{ font-size: 12px; line-height: 24px;}
.digi_canvas{height: 100%;width:100%;position: absolute;top:0;left: 0;z-index: 0;}
.english .section2 p{height: 355px;background-size: 1200px 355px;line-height: 46px;}
/*.section3 {
    height: 580px;
    background: url(../images/section3_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}*/
/*轮播图*/
.swiper-container,.swiper-container .swiper-wrapper{ width: 100%; height: 792px; overflow: hidden;}
.swiper-container .swiper-slide{ display: block; width: 100%; height:792px; background-size: cover; background-repeat: no-repeat; background-position: center center;}
.pagination{  position: absolute;
  left: 0;
  text-align: center;
  bottom:50px;
  width: 100%;
  z-index: 34;
  }
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #999;
  margin: 0 3px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}
.banner1{ background: url(../images/banner_npcnew.jpg);}
.banner2{ background: url(../images/banner_acc.png);}
.banner3{ background: url(../images/banner_ing.png);}
.banner4{ background: url(../images/banner_K.png);}
.banner5{ background: url(../images/banner_5.png);}
.banner6{ background: url(../images/banner_guan.jpg);}
.banner_nh{ background: url(../images/banner_nh.jpg);}
.banner_zh{ background: url(../images/banner_npcnew.jpg);}
.banner_wine{ background: url(../images/banner_wine.jpg);}
.banner_srt{ background: url(../images/srtBanner_bg.jpg);}
.banner_acc{ background: url(../images/acc_banner_bg.jpg);}
.banner_peb{ background: url(../images/pebBanner_bg.jpg);}
.banner_car{ background: url(../images/banner_car.jpg);}
.banner_market{background: url(../images/banner_market.jpg);}
.banner_car ul{ padding:255px 0 0 503px;}
.banner_car ul div.clearfix{margin-left: 141px;}
.banner_car ul li.fl{ width: 203px; height: 48px; line-height: 48px; border:1px solid #fff; font-size: 22px;color: #fff; }
.banner_car ul li:first-child{ margin-bottom: 30px; }
.banner_car ul li.fl img{ display: inline-block; margin:5px 5px 0 11px;}
.banner_car ul li.fl img,.banner_car ul li.fl span{ float: left;}
.banner_car ul em.fl{ font-size: 68px; color: #fff; height: 48px; line-height: 38px; margin: 0 14px;}
.see_accLive{position: absolute; right: 10px; top: 350px;}
.see_accLive img{ display: block; width: 160px; height: 160px; border: 2px solid #fff; margin:0 auto;}
.see_accLive p{ font-size:16px;  text-align: center; margin-top: 13px;}
.banner_nh li:first-child{ margin-top:290px;}
.banner_nh li:nth-child(2){ margin-top:59px;}
.banner_acc ul{ padding-top: 387px;}
.swiper-slide.banner6 ul,.banner_srt ul{ padding-top: 330px;}
.swiper-slide.banner5 ul{ padding-top: 260px;}
.swiper-slide.banner2 ul{ padding-top: 330px;}
.swiper-slide.banner1 ul{ padding-top: 364px;}
.swiper-slide.banner_zh ul{ padding-top: 363px;}
.swiper-slide.banner_wine ul{ padding-top: 314px;}
.swiper-slide.banner2 .go_retIco{ margin-top: 150px;}
.swiper-slide.banner5 .go_retIco{ margin-top: 85px;}
.swiper-slide.banner_market ul{padding-top: 188px;}
.swiper-slide.banner_market ul li:first-child{margin-top: 62px;margin-left: 92px;}
.swiper-slide.banner_market ul li:last-child{margin-left: 43px;}
.banner_peb ul{padding-top: 358px;}
.banner4 .go_retIco{margin-top: 50px;}
.banner4 ul{padding-top: 212px;}
.banner4 h4 {font-size: 44px;color: #ffe249;font-style: italic;}
.banner4 p {font-size: 32px;margin: 30px 0 60px 0;position: relative;}
.banner4 .white_bar{position: absolute;width: 40px;height: 2px;background: #fff;left: 580px;top: 70px;}
.ball_border{  border-radius: 50%; margin: 0 auto;}
.ball_border{ width: 135px; height: 135px; line-height: 135px; margin-bottom: 50px; text-align: center; vertical-align: middle;  position: relative;
	filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=red,endcolorstr=blue,gradientType=0);
    -ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=red,endcolorstr=blue,gradientType=0);/*IE8*/	
    background:#dfe9f4; /* 一些不支持背景渐变的浏览器 */  
    background:-moz-linear-gradient(top, #fcfdfe, #dfe9f4);  
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fcfdfe), to(#dfe9f4));  
    background:-o-linear-gradient(top, #fcfdfe, #dfe9f4); 
    -webkit-box-shadow: 0 0 10px rgba(245, 248, 252, .8);
    -moz-box-shadow: 0 0 10px rgba(245, 248, 252, .8);
    -o-box-shadow: 0 0 10px rgba(245, 248, 252, .8);
    -ms-box-shadow: 0 0 10px rgba(245, 248, 252, .8);
}
.ball_border:after{content: "ACC";
    position: absolute;
    width: 117px; 
    height: 117px;
    line-height: 117px; 
    color: #0795D4;
    left: 9px;
    top: 9px;
    font-size: 26px;
 	background: #ffffff;
    border-radius: 50%;}
.section3{ padding: 212px 0 0px 0; background: #0a0d1a;}
.section3 .pie_legend{ position: absolute;left: -9px;top: 146px; width: 100%;}
.english .section3 .pie_legend{left: 35px;}
.section_tit dl{ width: 650px;}
.section_tit dt{  color: #fff;font-size: 44px;margin-bottom: 40px;}
.section_tit dd{ line-height: 45px;font-size: 16px;}
.section_tit .bot_line{ width: 35px; height: 2px;background: -webkit-linear-gradient(right,#986ace,#986ace 35%,#23b6fe 65%,#1cb8fe); 
    background: -moz-linear-gradient(right,#986ace,#986ace 35%,#23b6fe 65%,#1cb8fe); 
    background: -o-linear-gradient(right,#986ace,#986ace 35%,#23b6fe 65%,#1cb8fe); margin:0 0 0 5px;}
.section3 .intro .intro_txt{ line-height: 50px; width: 860px; margin: 0 36px 0 70px; font-size: 18px;}
.section3 div.white_book{ width: 176px; text-align: center;}
.section3 div.white_book img{ display: block; width: 176px; height: 248px; margin-bottom: 20px;}
.section3 div.white_book a,.section3 div.white_book a:hover{ color: #ffffff;}
.intro{ padding: 39px 0 29px 0; position: relative;}
.line_top:before,.line_bottom:before,.line_left:before,.line_brace:before,.verlines .line:before{
	content: '';
    position: absolute;
    background:rgba(255, 255, 255, 0.5);
    z-index: 55;
}
.line_top:before{ 
    top: 0px;
    left:0px;  
    width: 600px;
    height: 1px; 
}
.line_bottom:before{
    bottom: 17px;
    left:0px;
    width:1058px;
    height: .8px;
}
.line_left:before{
    top: 0px;
    left:0px;
    width:1px;
    height: 337px;
}
.line_brace:before{
    top: 135px;
    left: 66px;
    width:1px;
    height: 50px;
}

.line_top.active:before,.line_bottom.active:before{
	transition: all 12s 0.5s ease-in-out;	
	transform: translateX(0);
	opacity: 1;
}
.line_brace.active:before,.line_left.active:before{
	transition: all 1s 0.5s ease-in-out;
	transform: translateY(0);
	opacity: 1;
}
.verlines .line:before{ 
    width:1px;
    height: 134px;
    top: 337px;
}
.verlines .verline1:before{ left: 150px;}
.verlines .verline2:before{ left: 450px;}
.verlines .verline3:before{ left: 740px;}
.verlines .verline4:before{ left: 1057px;}
.section4{background: url(../images/section4_bg.jpg) no-repeat;    background-size: cover;background-position: center center; color: #ffffff;padding-top: 62px;}
.section4 .tit{ font-size: 18px; margin: 45px auto 22px;}  
.section4 .dsc{ font-size: 14px; color: #ccc; margin: 0 auto;} 
.section4 .dsc,.section4 .tit{ text-align: center;}
.section4 .dsc:nth-child(4){ width:242px;}
.section4 .dsc:nth-child(3){ width:226px;}
.section4 .dsc:nth-child(2){ width:225px;}
.section4 .dsc:nth-child(1){ width:183px;}
.section4 ul li:first-child{ height: 150px;}
.section4 ul li:nth-child(1),.section4 ul li:nth-child(2){ position: relative;}
.section4 ul img.new_img1{ width: 196px; height: 113px; position:absolute; top: 23px; left: 56px;}
.section4 ul img.new_img2{ width: 196px; height: 104px; position:absolute; top: 23px; left: 69px;}
.section4 ul img.new_img3{ width: 200px; height: 130px;}
.section4 ul img.new_img4{ width: 157px; height: 146px;}
.dec_grp{ margin-bottom: 50px;}
.section5{ padding: 142px 0;background: #0a0d1a;}
.section5 img{ margin-top: 90px}
.section5 ul{ width: 381px; float: left;}
.section5 ul:nth-child(2){ margin: 0 28px;}
.section5 ul span{display: block; width: 290px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 1.4;}
.section5 ul li:last-child{ position: relative;}
.section5 ul li:last-child a:hover{ color: #0795D4;}
.section5 ul a.see_more,.newsbox dl a.see_more{ position: absolute; right: 0; bottom: 0; color: #0795D4;}
.section5 ul img{ display: block; width: 383px; height: 257px; margin-bottom: 15px;}
#coreIframe {
	display: block;
    width: 1200px;
    height: 584px;    
    font-size: 0;
}
/*资产链*/
.AssetsLink_tit{ text-align: center; background: #1a1a1a; padding-bottom: 60px;}
.AssetsLink_tit ul.tit{ width: 766px; padding-top: 252px;text-align: left;}
.AssetsLink_tit ul.tit li:nth-child(1){ color: #ffffff; font-size: 36px;}
.AssetsLink_tit ul.tit li:last-child{ font-size: 16px; color: #7c7c7c; margin-top: 47px;}
.AssetsLink_tit .golink{ margin: 103px auto 0;}
.AssetsLink_tit .go_publicLink{ display: block; font-size: 16px; color: #ffffff; border: 1px solid #ffffff; background: rgba(255,255,255,0.1); width: 245px; height: 64px; text-align: center; line-height: 64px; margin-bottom: 30px;transition: background 1s;
    -moz-transition:background 1s;
    -webkit-transition:background 1s; 
    -o-transition:background 1s; }
.AssetsLink_tit .go_publicLink:first-child{ border: 2px solid;
    background: -webkit-linear-gradient(right,#986ace,#986ace 35%,#23b6fe 65%,#1cb8fe); 
    background: -moz-linear-gradient(right,#986ace,#986ace 35%,#23b6fe 65%,#1cb8fe); 
    background: -o-linear-gradient(right,#986ace,#986ace 35%,#23b6fe 65%,#1cb8fe); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-image: -webkit-linear-gradient(90deg, #986ace, #1cb8fe) 20 stretch;
    border-image: -moz-linear-gradient(90deg, #1cb8fe, #986ace) 20 stretch;
    border-image: linear-gradient(90deg, #1cb8fe, #986ace) 20 stretch;}
/*.AssetsLink_tit .go_publicLink:first-child:hover{ background: #0d79d1;}
.AssetsLink_tit .go_publicLink:nth-child(2):hover{background: rgba(200,200,200,0.5);}*/
.AssetsLink_tit .down_grp .down_part{ display: block; width: 293px; height: 111px; background: rgba(15,25,49,0.1); border:1px solid #1eb0f0; margin-bottom: 47px;}
.AssetsLink_tit .down_grp .down_part li.tit{ font-size: 20px; color: #333333;}
.AssetsLink_tit .down_grp .down_part p,.AssetsLink_tit .down_grp .down_part dl{ float: left;}
/*.AssetsLink_tit .down_grp .down_part:nth-child(2){ margin: 0 51px;}*/
.AssetsLink_tit .down_grp .down_part p{ width: 55px; height: 44px; margin: 33px 40px 0 27px; background:url(../images/down_icon2.png); background-repeat: no-repeat; background-position: 0 0;}
/*.AssetsLink_tit .down_grp .down_part:hover p{  background-position: 0 0;}
.AssetsLink_tit .down_grp .down_part:hover{ background: #0795D4;}
.AssetsLink_tit .down_grp .down_part:hover dl{ color: #fff;}
.AssetsLink_tit .down_grp .down_part:hover dd{ border-color: #ffffff;}*/
.AssetsLink_tit .down_grp .down_part dt{ font-size: 16px;  margin-bottom: 8px; text-align: left; margin-top: 32px;}
.AssetsLink_tit .down_grp .down_part dd{ font-size: 13px; color: #7c7c7c}
.AssetsLink_tit .down_grp .down_part dl{ color: #fff; text-align: left;}
.application h3,.cooperation h3{ font-size: 30px; color: #333333; text-align: center; padding: 60px 0 26px;}
.application ul{ float: left; width: 368px; padding-top: 50px;}
.application ul:nth-child(2),.application ul:nth-child(6){ margin: 0 48px;}
.application ul a:hover{ color: #656f7b;}
.application ul li img{ display: block; width: 367px; height: 257px;}
.application ul li:last-child{ text-align: center; font-size: 18px; padding: 21px 0; color: #656f7b;}
.application{ padding-bottom: 93px;}
.cooperation div.img_grp{ font-size: 0; padding-top: 50px;}
.cooperation div.img_grp img{ display: inline-block; width: 216px; height: 85px; margin:0 30px 30px 0;}
.cooperation div.img_grp img:nth-child(5),.cooperation div.img_grp img:nth-child(10){ margin-right: 0px;}
.cooperation{ background: #eaeaea; padding-bottom: 116px;}
.cooperation div.img_grp img{
	transition:all 1s;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	-o-transition:all 1s;
	opacity: 1; 
	cursor: pointer;
}
.cooperation div.img_grp img:hover{
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
}
.community{background: #eaeaea;height: 717px;}
.community h3{ font-size: 30px; color: #333333; text-align: center; padding: 60px 0 26px;}
.community_posi{background: url(../images/forum-map-shape.png) no-repeat center center;height: 600px;position: relative;}
.community .posi1{position: absolute;top: 32px;left: 392px;}
.community .posi2{position: absolute;top: 100px;left: 420px;}
.community .posi3{position: absolute;top: 160px;left: 316px;}
.community .posi4{position: absolute;top: 235px;left: 280px;}
.community .posi5{position: absolute;top: 320px;left: 330px;}
.community .posi6{position: absolute;top: 183px;left: 655px;}
.community .posi7{position: absolute;top: 238px;left: 667px;}
.community .posi8{position: absolute;top: 150px;left: 822px;}
.community .posi9{position: absolute;top: 205px;left: 830px;}
.community .posi10{position: absolute;top: 260px;left: 840px;}
/*.about_bg,.register,.reg_success,.news_detail,.news_banner,.blocksData{ margin-top: 82px;}*/
.digitalAssets_container{ padding-bottom: 45px;}
.digitalAssets_container .margin{ padding: 45px 60px 110px 60px; background: #fff;}
.digitalAssets_container .digital_tit{ font-size: 20px; height: 23px; line-height: 23px; border-left:2px solid #1eb0f0; padding-left: 5px; margin-bottom: 50px;}
.digitalAssets_container ul.input_grp li{ float: left; margin-bottom: 22px;}
.digitalAssets_container ul.input_grp{ padding-bottom: 42px;}
.digitalAssets_container .apply_for ul.input_grp li:nth-child(odd){ margin-right: 56px;}
.digitalAssets_container .apply_for ul.input_grp li textarea{ display: inline-block; width: 724px; height: 120px; padding:10px;}
.digitalAssets_container .margin .submit_btn{ width: 146px; height: 48px; line-height: 48px; text-align: center; color: #fff; background: #1eb0f0; margin:0 auto; font-size: 16px; border-radius: 2px;cursor: pointer;}
.digitalAssets_container .apply_for ul.input_grp li textarea::-webkit-input-placeholder{font-family:"微软雅黑"; color: #aeb5ba;}
.digitalAssets_container .apply_for ul.input_grp li textarea:-moz-placeholder{font-family:"微软雅黑"; color: #aeb5ba;}
.digitalAssets_container .apply_for ul.input_grp li textarea::-moz-placeholder{font-family:"微软雅黑"; color: #aeb5ba;}
.digitalAssets_container .apply_for ul.input_grp li textarea:-ms-input-placeholder{font-family:"微软雅黑"; color: #aeb5ba;}
.digitalAssets_container .apply_for ul.input_grp.products_category li:nth-child(odd){ margin-right: 87px;}
.digitalAssets_container ul.input_grp li span,.digitalAssets_container ul.input_grp li input{ float: left; display: inline-block;}
.digitalAssets_container ul.input_grp li span{ text-align: right;width: 68px; margin-top: 5px; margin-right: 15px; font-size: 16px;}
.digitalAssets_container .pre_set ul.input_grp li span{ width: 168px; text-align: right}
.digitalAssets_container .apply_for.pre_set ul.input_grp.products_category li:nth-child(odd){ margin-right: 53px;}
.digitalAssets_container .apply_for.pre_set ul.input_grp li textarea{ width: 782px;}
.digitalAssets_container ul.input_grp li span.w100{ width: 100px;}
.digitalAssets_container ul.input_grp li input,.digitalAssets_container ul.input_grp li select{ width: 272px; height: 34px; line-height: 34px; outline: 0; border: 1px solid #C9C9C9; text-indent: 10px;}
.digitalAssets_container ul.input_grp li:after,.digitalAssets_container ul.input_grp:after{ visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
/*关于我们*/
.about_bg{ height: 568px; height: 300px; background: url(../images/about_bg.png); background-size: cover; background-repeat: no-repeat; background-position: center center;}
.about_content h5{ font-size: 18px; color: #131e22;position: relative; text-indent: 15px;}
.about_content h5:before{ 
	position: absolute;
	top: 39px;
	left: 1px;
	content: '';   
	background:#0795d4;
    width:3px;
    height: 18px;
}
.about_content h5.intro_tit{ padding-top: 36px; padding-bottom: 13px;}
.about_content h5.contact_tit{ padding: 50px 0 21px 0;}
.about_content h5.contact_tit:before{ top: 53px;}
.about_content ul:nth-child(1) li{ line-height: 47px;}
.about_content ul:nth-child(2){ padding-bottom: 50px;}
.about_content ul:nth-child(2) li{ margin-bottom: 12px;} 
.about_content ul:nth-child(2) li img{ display: block; margin-left: -15px;}
.about_content ul li em{ font-weight: 600;}
.about_content dd{ color: #000000;}
.register ul span {
	display: inline-block;
    width: 72px;
    text-align: right;
    margin-right: 34px;
    color: #818591;    
}
#guiyang{ height:500px;width:1200px;}
.team_intro .content_tit{ margin: 137px auto 100px;}
.person_grp{ width: 100%; margin-top: 86px;}
.person_grp dl{ float: left; text-align: center; color: #ffffff;margin:0 32px 40px; width: 21%;border: 1px solid transparent;border-radius: 5px;}
.person_grp dl:first-child{margin-left: 0;}
.person_grp dl:last-child{margin-right: 0;}
.person_grp img{ margin-bottom: 36px;}
.person_grp dt{ line-height: 20px;}
.person_grp dd{ text-align: left;line-height: 2em;margin-top: 18px;}
.contact{ text-align: center; margin-top: 100px;}
.contact dt{ margin-bottom: 20px;}
.contact dd{ color: #999999; line-height: 46px;}
.contact p{ margin: 85px 0 23px; font-family: 16px; color: #ffffff;}
.contact_us{ margin-top: 86px;}
.contact_grp{ width:800px; }
.contact_grp dl img,.contact_grp dl div{ float: left;}
.contact_grp dl{ width: 330px; display: inline-block; margin-bottom: 83px;}
.contact_grp dl:last-child{ width: 423px;}
.contact_grp dl dt{ font-size: 12px; color: #999999; margin:5px 0 10px;}
.section4 .contact_grp dl dd{ font-size: 16px;}
.section4 .contact_grp dl dt{ margin-bottom:8px;}
.contact_grp dl img{ display: inline-block; margin-right: 5px; border-radius: 50%;}
.contact_grp dl:nth-child(1),.contact_grp dl:nth-child(3){ margin-right: 32px;}
.wx_platform img{ display: block; width: 171px; height:171px; margin-top: 8px;}
.wx_platform{ margin-right:36px;}
.wx_platform dt{ text-indent: 10px;}
.section4 .wx_platform dt{ text-indent: 0px;}
.wb_platform img{ display: block; width: 171px; height:171px;margin-top: 8px;}
.email_code{ color: #0795D4; font-size: 18px; font-weight: 700;}
.email_infor{ margin-top: 88px; }
.email_infor .user_infr{ color: #666666;}
.email_infor .user_infr dt{ color: #333333; font-weight: 700; margin: 35px 0 22px;}
.email_infor .user_infr{ padding-top: 43px;}
.email_infor dl{ padding-left: 28px}
.email_infor .user_infr h4{ font-size: 14px;}
.email_infor dd{ line-height: 28px;}
.email_infor .user_infr dd.no_worktime{ margin-bottom: 127px;}
.email_infor .contact_infor img{ margin-left: -17px;}
.email_infor .contact_infor{ margin-top: 20px;}

footer.qa_footer{height: 142px;line-height: 15px;}
footer.qa_footer .bt_link li:last-child a{border-right: none;}
footer.qa_footer div.margin p{margin-top: 18px;}
footer.qa_footer div.margin p.mt16{margin-top: 16px;}
footer.qa_footer div.margin p img{margin: -12px 15px 0 0;}
/*footer .bt_link{padding-left: 34%;padding-top: 37px;}*/
footer.qa_footer .bt_link{padding-top: 37px;margin: 0 auto;width: 412px;}
footer.qa_footer .bt_link li{float:left;}
footer.qa_footer .bt_link li a{color: #9198a0;border-right: 1px solid #9198a0;padding: 0 12px;display: inline-block;height: 16px;}
/*首页动态球效果20170921*/
.left-top-moving{
	position: absolute;
	right: 360px;
	top: 10px;
	-webkit-animation: mymove 3s linear infinite;
	-moz-animation: mymove 3s linear infinite;
	-ms-animation: mymove 3s linear infinite;
	-o-animation: mymove 3s linear infinite;
	animation: mymove 3s linear infinite;
}
.middle-moving{
	position: absolute;
	right: 0;
	top: 50px;
	animation: antimove 8s linear infinite;
	
}
.left-bottom-moving{
	position: absolute;
	top: 375px;
	right: 366px;
	animation: mymove 3s linear infinite;
}
.right-top-moving{
	position: absolute;
	right: -8px;
	top: 66px;
	animation: rightTop 3s linear infinite;
}


@keyframes rightTop
{
	from{
		transform: rotateZ(0deg) rotateY(0deg);
	}
	to{
		transform: rotateZ(360deg) rotateY(360deg);
	}
}


@-moz-keyframes rightTop /* Firefox */
{
	from{
		-moz-transform: rotateZ(0deg) rotateY(0deg);
	}
	to{
		-moz-transform: rotateZ(360deg) rotateY(360deg);
	}
}
@-ms-keyframes rightTop
{
	from{
		-ms-transform: rotateZ(0deg) rotateY(0deg);
	}
	to{
		-ms-transform: rotateZ(360deg) rotateY(360deg);
	}
}

@-webkit-keyframes rightTop /* Safari 和 Chrome */
{
	from{
		-webkit-transform: rotateZ(0deg) rotateY(0deg);
	}
	to{
		-webkit-transform: rotateZ(360deg) rotateY(360deg);
	}
}

@-o-keyframes rightTop /* Opera */
{
	from{
		-o-transform: rotate(360deg);
	}
	to{
		-o-transform: rotate(0deg);
	}
}

@keyframes antimove
{
	from{
		transform: rotate(360deg);
	}
	to{
		transform: rotate(0deg);
	}
}


@-moz-keyframes antimove /* Firefox */
{
	from{
		-moz-transform: rotate(360deg);
	}
	to{
		-moz-transform: rotate(0deg);
	}
}
@-ms-keyframes antimove
{
	from{
		-ms-transform: rotate(360deg);
	}
	to{
		-ms-transform: rotate(0deg);
	}
}

@-webkit-keyframes antimove /* Safari 和 Chrome */
{
	from{
		-webkit-transform: rotate(360deg);
	}
	to{
		-webkit-transform: rotate(0deg);
	}
}

@-o-keyframes antimove /* Opera */
{
	from{
		-o-transform: rotate(360deg);
	}
	to{
		-o-transform: rotate(0deg);
	}
}

@keyframes mymove
{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}


@-moz-keyframes mymove /* Firefox */
{
	from{
		-moz-transform: rotate(0deg);
	}
	to{
		-moz-transform: rotate(360deg);
	}
}
@-ms-keyframes mymove
{
	from{
		-ms-transform: rotate(0deg);
	}
	to{
		-ms-transform: rotate(360deg);
	}
}

.section_tit{margin-bottom: 30px;}

@-webkit-keyframes mymove /* Safari 和 Chrome */
{
	from{
		-webkit-transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(360deg);
	}
}

@-o-keyframes mymove /* Opera */
{
	from{
		-o-transform: rotate(0deg);
	}
	to{
		-o-transform: rotate(360deg);
	}
}
.section5{height: 800px;}
.section5 ul.future-box{color: #FFFFFF;font-size: 15px;height: 254px;position: relative;width: 100%;margin: 0;margin-top: 102px;}
.future-box:after{content: '';position: absolute;height: 3px;width: 100%;background: white;top: 53%;}
.future-box .color-blue{color: #1b77fb;}
.section5 ul.future-box img{width: 35px;height: 150px;margin: 0;}
.section5 ul.future-box li{position: absolute;z-index: 2;box-sizing: border-box;
    transition: all .5s;
    -webkit-transition: all .5s; /* Safari */}
.section5 ul.future-box li.up{top: 0;}
.section5 ul.future-box li.down{top: 120px;}
.section5 ul.future-box li.up dl{padding-top: 20px;}
.section5 ul.future-box li.down dl{padding-top: 84px;}
.section5 ul.future-box li:nth-child(1){left: 6%;}
.section5 ul.future-box li:nth-child(2){left: 14%;}
.section5 ul.future-box li:nth-child(3){left: 32%;}
.section5 ul.future-box li:nth-child(4){left: 44%;}
.section5 ul.future-box li:nth-child(5){left: 54%;}
.section5 ul.future-box li:nth-child(6){left: 62%;}
.section5 ul.future-box li:nth-child(7){left: 68%;}
.section5 ul.future-box li:nth-child(8){left: 76%;}
.section5 ul.future-box li:nth-child(9){left: 80%;}
.section5 ul.future-box li:nth-child(10){left: 88%;}
.section5 ul.future-box li:hover{ cursor: pointer;
    transform: scale(1.1);
    -ms-transform:scale(1.1);     /* IE 9 */
    -moz-transform:scale(1.1);     /* Firefox */
    -webkit-transform:scale(1.1); /* Safari 和 Chrome */
    -o-transform:scale(1.1);
}
.sidebar{ position: fixed; right: 20px; bottom: 100px; width: 62px;z-index: 11;}
.icon_item{text-align: center; cursor: pointer;width: 62px;height: 62px;border-radius:8px;margin-bottom:10px ;padding: 12px 10px;}
.icon_item.back{padding-top: 23px;display: none;}
.icon_item img{width: 60%;}

.english .section5 ul.future-box li:nth-child(1){left: 2%;}
.english .section5 ul.future-box li:nth-child(2){left: 8%;}
.english .section5 ul.future-box li:nth-child(3){left: 24%;}
.english .section5 ul.future-box li:nth-child(4){left: 30%;}
.english .section5 ul.future-box li:nth-child(5){left: 42%;}
.english .section5 ul.future-box li:nth-child(6){left: 50%;}
.english .section5 ul.future-box li:nth-child(7){left: 62%;}
.english .section5 ul.future-box li:nth-child(8){left: 66%;}
.english .section5 ul.future-box li:nth-child(9){left: 77%;}
.english .section5 ul.future-box li:nth-child(10){left: 82%;}